.table {
    width: 100%;
}

.table, th, td {
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    border-collapse: collapse;
}

td, th {
    padding: 10px 10px;
}

table thead th {
    text-align: center;
}

table tbody td {
    text-align: center;
}

.customer-list {
    font-size: 18px;
    padding: 10px 30px;
    font-family:  'Times New Roman', Times, serif;
    width: 100%;
}

 .customer-recharge__btn {
    padding: 20px 250px;
} 

.customer__btn {
    /* width: 80%;
    height: 60px;
    border-radius: 5px;
    /* border: 1px solid red; */
    /* margin: auto;
    color: #00302E; */ 
    font-size: 2rem;
    background-color: tomato;
    padding: 10px 100px;
}

