.card {
    padding: 10px 10px;
    font-family:  'Times New Roman', Times, serif;
    background-color:#e8898eca;
    border-radius: 2px;
    text-align: center;
    border: 2px solid #FBDDBB;
}

input {
    width: 600px;
    height: 30px;
}



.create-card {
    font-size: 18px;
    padding: 10px 20px;
    font-family:  'Times New Roman', Times, serif;
    width: 100%;
    margin-left: 250px;
}


#form-insert {
    max-width: 800px;
    background: rgb(255, 255, 255);
    flex-grow: 1;
    padding: 30px 30px 40px;
}


.form-group{
    margin-top: 15px;
    margin-bottom: 20px;
    width: 100%;
}

.form-input {
    width: 100%;
}

.form-submit {
    border: 2px solid #FBDDBB;
    background-color: #013937;
    font-family:  'Times New Roman', Times, serif;
    color: #FBDDBB;
    margin-left: 80px;

}

.form-submit:hover {
    border: 2px solid #e67e22;
}