.table {
    width: 100%;
}

.table, th, td {
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    border-collapse: collapse;
}

td, th {
    padding: 10px 10px;
}

table thead th {
    text-align: center;
}

table tbody td {
    text-align: center;
}

.menu-list {
    font-size: 20px;
    padding: 10px 30px;
    font-family:  'Times New Roman', Times, serif;
    width: 100%;
}

.menu-insert__btn {
    padding: 20px 100px;
}
.insert__btn {
    height: 54px;
    width: 254px;
    font-size: 2rem;
    background-color: tomato;
    padding: 5px 50px;
}