.table {
    width: 100%;
}

.table, th, td {
    border-bottom: 1px solid #333;
    border-right: 1px solid #333;
    border-collapse: collapse;
}

td, th {
    padding: 15px 15px;
}


table thead th {
    text-align: center;
    border-radius: 10px;
    background-color: #FBDDBB;
}

table tbody td {
    text-align: center;

    font-family:  'Times New Roman', Times, serif;
}

.warehouse-list {
    font-size: 20px;
    padding: 10px 30px;
    font-family:  'Times New Roman', Times, serif;
    width: 100%;
    margin-left: 250px;
}

.warehouse-update__btn {
    padding: 20px 150px;
} 

.warehouse__btn {
    font-size: 2rem;
    background-color: #013937;
    color: #FBDDBB;
    padding: 10px 100px;
}

.warehouse__btn:hover {
    border: 2px solid #e67e22;
}
