doctype html
html(lang='vi')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Canteen US
    link(rel='stylesheet' href='./assets/css/landing_page.css')
  body
    #main
      #header
        .header__logo
          img.header__logo-img(src='./assets/img/logo.png' alt='')
        .header__text
          a(href='') CĂN TIN ĐẠI HỌC KHOA HỌC TỰ NHIÊN
        .header__login
          a(href='') Login
    #slider
