doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Document
    link(rel='stylesheet' href='./assets/css/signin.css')
  body
    .container
      .image
        img(src='https://saodieu.vn/media/Bai%20Viet%20-%20T62016/Saodieu%20-%2010%20mon%20an%201.jpg' alt='')
      // 
      form.form
        .logo-image
          img(src='./assets/img/logo.png' alt='')
        .location
          .loca
            img(src='./assets/img/location.png' alt='')
        .inp
          input(type='text' placeholder='Tên đăng nhập')
        .inp
          input(type='password' placeholder='Mật khẩu')
          .hide Hiện
        .inp
          input(type='text' placeholder='Số điện thoại')
        .inp
          input(type='text' placeholder='Loại tài khoản')
        .btn
          button Đăng ký
        .bottom
          div
            | Bạn đã có tài khoản. 
            a(href='./login_page.html') ĐĂNG NHẬP NGAY
      // 
