doctype html
html(lang='vi')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title SIGN UP
    link(rel='stylesheet' href='./assets/css/main.css')
    link(rel='stylesheet' href='./assets/css/grid.css')
    link(rel='stylesheet' href='./assets/css/signup.css')
    link(rel='stylesheet' href='./assets/font/themify-icons/themify-icons.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css')
    link(href='https://fonts.googleapis.com/css?family=Roboto&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css')
  body
    .overlay
      form#form-login(action='/signin' method='POST')
        .con
          // Start  header Content
          header.head-form
            .logo-image
              img(src='./assets/img/logo.png' alt='' style='width: 200px;')
            h2 SIGN UP
            p Sign up here with new account
          // End  header Content
          br
          .field-set
            input.form-input(name='username' type='text' placeholder='UserName' required='')
            br
            input#pwd.form-input(name='password' type='password' placeholder='Password' required='')
            br
            input.form-input(name='phone' type='text' placeholder='Phone number' required='')
            br
            input.form-input(name='gmail' type='email' placeholder='Email' required='')
            br

            button.sign-up(type='submit')  SIGN UP 
          // other buttons
          .other(style='width: 280px;')
            .btn.submits.login-now
              a(href='/login') LOGIN NOW

