.add-newfood {
    padding: 10px 10px;
    font-family:  'Times New Roman', Times, serif;
    background-color: #7be6e2;
    border-radius: 2px;
    text-align: center;
}

input {
    width: 600px;
    height: 30px;
}



td, th {
    padding: 10px 10px;
}



.menu-insert {
    font-size: 18px;
    padding: 10px 20px;
    font-family:  'Times New Roman', Times, serif;
    width: 70%;
}

.menu-insert__add-food__btn {
    /* width: 80%;
    height: 60px;
    border-radius: 5px;
    /* border: 1px solid red; */
    /* margin: auto;
    color: #00302E; */ 
    font-size: 2rem;
    color: var(--primary-color);
    padding: 20px 300px;
}
