.update-warehouse {
    padding: 10px 10px;
    font-family:  'Times New Roman', Times, serif;
    background-color:lightcoral;
    border-radius: 2px;
    text-align: center;
}

input {
    width: 600px;
    height: 30px;
}



td, th {
    padding: 10px 10px;
}



.update-quantity {
    font-size: 18px;
    padding: 10px 20px;
    font-family:  'Times New Roman', Times, serif;
    width: 70%;
}

.update-quantity__btn {

    padding: 20px 300px;
}


.update-quantity_warehouse__btn {
    height: 54px;
    width: 254px;
    font-size: 2rem;
    background-color: tomato;
    padding: 5px 50px;
}
