/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background: url('https://www.wowweekend.vn/document_root/upload/articles/image/BrowseContent/WCoffeeTalk/202111/L%C3%AA%20Rin%20v%C3%A0%20chuy%E1%BB%87n%20ngh%E1%BB%81%20Food%20Illustrator/2.jpg') center /cover;
    /* background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%); */
    background-attachment: fixed;
    background-repeat: no-repeat;


    font-family: 'Vibur', cursive;
/*   the main font */
    font-family: 'Abel', sans-serif;
    opacity: .98;
/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}

.btn {
    min-width: 124px;
    height: 34px;
    border-radius: 10px;
    font-size: 15px;
    padding: 12px 12px;
    display: block;
    justify-content: center;
    align-items: center;
  }



form {
    width: 450px;
    min-height: 500px;
    height: auto;
    border-radius: 20px;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
    background: #FBDDBB;
}
/* form Container */
form .con {
    display: -webkit-flex;
    display: flex;
  
    -webkit-justify-content: space-around;
    justify-content: space-around;
  
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  
      margin: 0 auto;
}

/* the header form form */
header {
    margin: 2% auto 10% auto;
    text-align: center;
}
/* Login title form form */
header h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}
/*  A welcome message or an explanation of the login form */
header p {letter-spacing: 0.08em;}




/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */


.input-item {
    background: #fff;
    color: #333;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
    /* height: 45px; */
}



/* Show/hide password Font Icon */
#eye {
    background: #fff;
    color: #333;
  
    margin: 5.9px 0 0 0;
    margin-left: -20px;
    padding: 15px 9px 19px 0px;
    border-radius: 0px 5px 5px 0px;
  
    float: right;
    position: relative;
    right: 1%;
    top: -.2%;
    z-index: 5;
    
    cursor: pointer;
}
/* inputs form  */
input[class="form-input"]{
    width: 240px;
    height: 50px;
  
    margin-top: 2%;
    padding: 15px;
    
    font-size: 16px;
    font-family:  'Times New Roman', Times, serif;
    color: #5E6472;
  
    outline: none;
    border: none;
  
    border-radius: 0px 5px 5px 0px;
    transition: 0.2s linear;
    
}
input[id="txt-input"] {width: 250px;}
/* focus  */
input:focus {
    /* transform: translateX(-2px); */
    border-radius: 5px;
}

/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */

/* input[type="text"] {min-width: 250px;} */
/* buttons  */
button {
    display: inline-block;
}

.log-in{
    color: #FBDDBB;
    font-size: 20px;
  
    width: 280px;
    height: 50px;
  
    padding: 0 20px;
    background: #00302E;
    border-radius: 5px;
    
    outline: none;
    border: none;
  
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    
    margin: 7% auto;
    letter-spacing: 0.05em;

}
/* Submits */
.submits {
    width: 48%;
    display: inline-block;
    margin-left: 2%;
}

/*       Forgot Password button FAF3DD  */
.frgt-pass {
    float: left;
    text-align: center;
    background: #B8F2E6;
}

/*     Sign Up button  */
.sign-up {
    float: right;
    padding-left: 30px;
    background: #B8F2E6;
    
}


.orther {
    width: 100%;
    display: inline-block;
}

.sign-up a {
    color: #000;
    text-decoration: none;
}

.frgt-pass a {
    color: #000;
    text-decoration: none;
}



/* buttons hover */
button:hover {
    transform: translatey(3px);
    box-shadow: none;
}

/* buttons hover Animation */
button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
/* @keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
} */
