.top-text {
	/* background-color: red; */
	width: 80%;
	position: relative;
	background-color: #F7F7F7;
}

.top-text p {
	margin: 30px;
	font-size: 20px;
	font-weight: bold;
	color: red;
	
}

.payment_list {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 200px;
    padding-bottom: 20px;
	margin: 10px;
}

.payment_list :hover {
	background-color: #F07B0E;
}

.payment_list a {
	color: black;
	text-decoration: none;
    font-weight: bold;
    font-size: 32px;
	
}



.sum {
	text-align: right;
}

.chuc-nang {
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
}

.delete {
	color: red;
}

.thanh-toan {
	margin: 50px 300px;
	width: 58vh;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	/* text-align: center; */
	background-color: #00302E;
}

.thanh-toan a {
	color: #F3C294;
	text-decoration: none;
}

/* ------------------------------ */
 /* modal */
 .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    margin: 0 auto;
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    outline: 0;
  
  }
  
  .modal-body {
    padding: 1rem;
  }
  
  .modal-footer {
    display: flex;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  .modal-footer>:not(:first-child) {
    margin-left: .25rem;
  }
  
  .btn {
    cursor: pointer;
    outline: none;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: all .2s ease-in-out;
  }
  
  .btn-secondary {
    color: #292b2c;
    background-color: #fff;
    border-color: #ccc;
  }
  
  .btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
  }
  
  .modal-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #aaaaaa;
    padding: 1rem;
  }
  
  h5.modal-title {
    font-size: 1.5rem;
  }
  
  .close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  #cart {
    font-size: 15px;
    color: black;
    /* background-color: #c7b200; */
	
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    margin-left: 1rem;
    padding: 12px;
    cursor: pointer;
  }
  
  #cart :hover {
    background-color: orange;
  }

  .cart-payment {
    float: left;
    width: 200px;    
  }

  .cart-payment button {
    padding: 10px;
    width: 100px;
	margin: 10px;
    background-color: orange;
    cursor: pointer;
  }

  .payment {
	font-size: 15px;
    color: #fff;
    /* background: #c7b200; */
	color: black;
    border: 1px solid transparent;
    border-radius: 10px;
    outline: none;
    margin-left: 1rem;
    padding: 12px;
    cursor: pointer;
	font-weight: bold;
	
  }
  